/* HOME SECTION 
-----------------------------*/
.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      150deg,
      rgba(230, 100, 101, 0.4),
      rgba(145, 152, 229, 0.4)
    ),
    url(../img/fola.jpg) no-repeat center top/cover;

  h2 {
    font-size: 3rem;
    margin-bottom: 5%;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    font-size: 1.5rem;
  }
  .social-icons {
    position: initial;
    margin-top: 10%;
  }
}
