@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");

/* GENERAL STYLE
------------------------------ */
$primary-color: #272727;
$secondary-color: #168de2;
$yellow: #ffc907;
$red: #ff0000;
$green: #00ff00;
$light-color: hsl(0, 0%, 100%);
// $body-font: ;
$project-font: "Kirang Haerang", cursive;
@mixin vendor-prefix($name, $value...) {
  @each $vendor in ("-webkit-", "-moz-", "-ms-", "-o-", "") {
    #{$vendo}-#{$name}: #{$value};
  }
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* hack to make animation paused til the all contents of the page is loaded.
** Inspired by Donovan Hutchinson. https://css-tricks.com/making-animations-wait/
*/
.js-loading *,
.js-loading *::before,
.js-loading *::after {
  animation-play-state: paused !important;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return hsl(0, 0%, 0%);
  } @else {
    @return hsl(0, 0%, 100%);
  }
}

@mixin break-point-min($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}
@mixin break-point-max($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}
@mixin max-height($max-height) {
  @media screen and (max-height: $max-height) {
    @content;
  }
}
@mixin pulse {
  @keyframes pulse {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
@mixin bounce {
  @keyframes bounce {
    0% {
      opacity: 1;
      transform: translateY(-1px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(-1px);
    }
  }
}
@mixin radiant {
  @keyframes radiant {
    0% {
      box-shadow: 0px 0px 1px $light-color, -0px -0px 1px $light-color;
    }
    50% {
      box-shadow: 1px 1px 3px 1px $light-color, -1px -1px 3px 1px $light-color;
    }
    100% {
      box-shadow: 0px 0px 1px $light-color, -0px -0px 1px $light-color;
    }
  }
}
@mixin flow-diognal {
  @keyframes flow-diognal {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
@mixin flow-vertical {
  @keyframes flow-vertical {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}

@mixin clear {
  @keyframes clear {
    to {
      opacity: 1;
      transform: none;
    }
  }
}
@mixin slide {
  @keyframes slide {
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}
@mixin frame {
  @keyframes frame {
    to {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
