/* HOME SECTION 
-----------------------------*/
.contact {
  transition: all 0.5s 0.3s ease-in-out;
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      150deg,
      rgba(255, 201, 7, .3),
      rgba(22, 141, 226, .4)
    ),
    url(../img/fola.webp) no-repeat center top/cover;

  h2 {
    font-size: 2rem;
    margin-bottom: 5%;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    font-size: 1.2rem;

    address > div {
      color: $yellow;
    }

    a {
      display: inline-block;
      inline-size: 75%;
      outline: none;
      &:link {
        color: $yellow;
      }
      &:visited{
        color: $secondary-color;
      }
      &:focus{
        border-bottom: 1px solid;
      }
      &:hover {
        background: darken($color: $yellow, $amount: 30%);
        border-bottom: 1px solid;
      }
      &:active{
        color: $secondary-color;
      }
    }
  }

  .social-icons {
    position: initial;
    margin-top: 10%;
  }
}
