/* HOME SECTION 
-----------------------------*/
.contact {
  transition: all 0.5s 0.3s ease-in-out;
  height: 100%;
  padding-top: 35vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to right rgba($primary-color, 0),
    rgba($yellow, 0.4)
    ),
    url(../img/fola.webp) no-repeat center top/cover;

  h2 {
    font-size: 2rem;
    margin-bottom: 5%;
  }

  &__list {
    margin-inline-start: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    font-size: 1.2rem;
    justify-content: flex-end;
    align-items: flex-end;

    address > div {
      color: lighten($yellow, 10%);
    }

    a {
      display: inline-block;
      inline-size: 75%;
      outline: none;
      &:link {
        color: lighten($secondary-color, 15%);
        border-bottom:  1px solid;
      }
      &:visited{
        color: $yellow;
      }
      &:focus{
        border-bottom: 1px solid;
      }
      &:hover {
        color: darken($color: $yellow, $amount: 20%);
        border-bottom: none;
      }
      &:active{
        color: $yellow;
      }
    }
  }

  .social-icons {
    position: initial;
    margin-top: 10%;
  }
  footer {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 10%;
    color: lighten($primary-color, 60%);
  }
}
