/* HOME SECTION 
-----------------------------*/
.home {
  transition: all 0.5s 0.3s ease-in-out;
  height: 100%;
  padding-block-start: 35vh;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(
    -45deg,
    rgba(255, 201, 7, 0.8),
    rgba(22, 141, 226, 0.8)
  );
  background-size: 200% 200%;
  animation: flow-diognal 4s ease-in-out infinite;

  h2:first-of-type {
    color: lighten($color: $primary-color, $amount: 60%);
    font-family: $ff-contact;
    font-size: 1em;
    margin-block-end: 1rem;
  }
  h2:last-of-type {
    font-size: clamp(2vw, 1.2em, 5vw);
  }

  &__name {
    font-family: $ff-contact;
    font-size: clamp(5vw, 3.5rem, 12vw);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: darken($secondary-color, 10%);
    }
  }
  .btn {
    @include transition-ease;
    display: block;
    margin: auto;
    inline-size: 50%;
    font-family: $ff-detials-2;
    margin-block-start: clamp(5vh, 7rem, 10vh);
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-transform: uppercase;
    color: $yellow;
    opacity: 0;
    transform: translateY(-100%) scale(1.2);
    animation: clear 0.5s 1s forwards;
    &--contact {
      &:hover {
        color: $secondary-color;
      }
    }
    &--projects {
      margin-block-start: 1rem;
      border: 1px solid $yellow;
      animation: clear 0.5s 1.5s forwards;
      color: darken($secondary-color, 10%);
      &:link {
        background-color: transparent !important;
      }
      &:hover {
        color: $yellow;
      }
    }
    &:link {
      background: darken($secondary-color, 20%);
    }
    &:hover {
      mix-blend-mode: overlay;
    }
    &:active {
      color: darken($yellow, 20%);
    }
  }
  .social-icons {
    display: none;
    bottom: 1rem;
  }
}
@include flow-diognal;
