/* MENU BUTTON
----------------------------------- */
.menu-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  block-size: 20px;
  inline-size: 28px;
  color: set-text-color($primary-color);
  cursor: pointer;
  @include transition-ease;

  &__burger {
    position: absolute;
    left: 0;
    top: 0.5rem;
    inline-size: 28px;
    block-size: 3px;
    background-color: set-text-color($primary-color);
    @include transition-ease;

    &::before {
      position: inherit;
      content: "";
      top: -8px;
      inline-size: inherit;
      block-size: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }

    &::after {
      position: inherit;
      content: "";
      top: 8px;
      inline-size: 20px;
      block-size: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }

    &.open {
      background: transparent; // you can't use opacity or visibility here
      transform: rotate(720deg);

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }
      &::after {
        inline-size: inherit;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}
.logo{
  position: absolute;
  top: 1rem;
  right: 1rem;
  block-size: 20px;
  inline-size: 28px;
  img {
    inline-size: 100%;
  }
}

/* THE NAVIGATION MENU
-----------------------------------------*/
.nav {
  visibility: hidden;
  opacity: 0.9;
  inline-size: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  &.open {
    visibility: visible;
  }
 
  .menu-nav {
    block-size: 100vh;
    inline-size: 60vw;
    list-style-type: none;
    background: $primary-color;
    text-transform: uppercase;
    color: set-text-color($primary-color);
    transform: translateX(-100%);
    @include transition-ease;

    &.open {
      transform: translateX(0);
    }

    &__item {
      display: inline-block;
      inline-size: 100%;
      border-bottom: 1px solid;
      transform: translateX(-100%);
      @include transition-ease;
      
      &.open {
        transform: translateX(0);
      }
      &.active > a {
        color: $secondary-color;
      }
      &:first-child{
        margin-block-start: 5rem;
      }
    }

    &__link {
      display: inline-block;
      margin: 2rem 0 2rem 3rem;
      font-size: 1.3rem;
      font-weight: 300;
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@for $i from 1 through 4 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: $i * 0.2s;
  }
}
