
.logo {
  position: absolute;
  top: 4vmin;
  left: 1rem;
  inline-size: 3.5vw;
  img {
    inline-size: 100%;
  }
}

/* THE NAVIGATION MENU
-----------------------------------------*/
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(
    circle at 13.5% 0,
    transparent 36px,
    #d3a500 37px
  );
  transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) 0.45s;

  .menu-nav {
    display: flex;
    inline-size: 80%;
    height: 50px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    list-style-type: none;
    filter: drop-shadow(0px -1px 6px rgba(0, 0, 0, 0.08))
      drop-shadow(0px -2px 12px rgba(0, 0, 0, 0.12));

    &__item {
      @include transition-ease;
      &.active.sc-current > a {
        color: $light-color;
      }
    }

    &__link {
      color: $primary-color;
      span {
        display: none;
      }
      i {
        display: block;
        inline-size: 100%;
        block-size: 100%;
        &:active {
          transform: rotate(270deg);
          transition: all 0.5s ease;
        }
      }
    }
  }

  .sc-nav-indicator {
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: 1.4rem;
    left: 0;
    background-color: darken($primary-color, 100%);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08),
      0px 3px 6px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    transition: cubic-bezier(0.45, 0.73, 0, 0.59) 0.3s;
  }
  .sc-current {
    position: relative;
    z-index: 3;
    transform: translate3d(0px, -22px, 0px);
  }
}

// @for $i from 1 through 4 {
//   .menu-nav__item:nth-child(#{$i}) {
//     transition-delay: $i * 0.2s;
//   }
// }
