@include break-point-min(45em) {
  header {
    position: absolute !important;
    overflow-x: hidden;
    padding: 0 !important;
  }
  .menu-btn {
    display: none;
  }
  .logo {
    position: absolute;
    top: 2rem;
    left: 1rem;
    inline-size: 1.5rem;
    img {
      inline-size: 100%;
    }
  }

  /* NAV
  ----------------------------------------*/
  .nav {
    overflow: hidden;
    position: static;
    background: transparent;
    .sc-nav-indicator {
      display: none;
    }
    visibility: visible;
    .menu-nav {
      // display: block;
      justify-content: flex-end;
      height: auto;
      inline-size: 100%;
      transform: translateX(0);
      padding: 1em;
      padding-top: 3rem;
      text-align: right;
      background: transparent;
      &__item {
        display: inline;
        border: none;
        padding-right: 2rem;
        transform: translateX(0);
        &.active.sc-current > a {
          color: lighten($color: $primary-color, $amount: 40%);
        }
      }

      &__link {
        @include transition-ease;
        position: relative;
        font-size: 1rem;
        font-weight: 300;
        color: $light-color;
        text-transform: uppercase;
        margin: 0;
        span {
          display: initial;
        }
        i {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 0.1em;
          border-top-right-radius: 50%;
          transform: scaleX(0);
          transform-origin: 0;
          @include transition-ease;
        }
        &:hover {
          color: set-text-color($primary-color);
          &::before {
            transform: scaleX(1);
            background: rgba($secondary-color, 1);
          }
        }
      }
    }
  }

  /* HOME
----------------------------------------*/

  .home {
    position: relative;
    padding-block-start: 25vh;
    text-align: left;
    background: $primary-color;
    overflow: hidden;
    &__wrapper {
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(min(30rem, 100%)), 1fr)
      );
      justify-content: center;
      align-items: center;
      gap: 3rem;
      .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        .btn {
          position: relative;
          z-index: 4;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          margin-block-start: 2rem;
          cursor: pointer;
          padding: 1rem 3rem;
          border-radius: 20px;
          color: $primary-color;
          text-transform: uppercase;
          opacity: 0;
          transform: translateY(-100%) scale(1.2);
          animation: clear 0.5s 1s forwards;
          &:link {
            background: darken($color: $yellow, $amount: 10%);
          }
          &:hover {
            background: $yellow;
          }
        }
      }
      .right {
        position: relative;
        display: flex;
        order: 1;
        justify-content: center;
        .img {
          flex: 0 0 300px;
          position: relative;
          block-size: 300px;
          opacity: 0;
          transform: translateX(100%);
          background: url(../img/fola-home.jpeg) no-repeat center top/cover;
          border-radius: 20px;
          box-shadow: 0 0 10px darken($color: $primary-color, $amount: 100%);
          z-index: 2;
          animation: clear 0.8s 0.5s forwards;
        }
        .border-front {
          position: absolute;
          top: 50%;
          left: 50%;
          inline-size: 320px;
          block-size: 320px;
          border-top: 10px solid $secondary-color;
          border-bottom: 10px solid $secondary-color;
          border-radius: 30px;
          box-shadow: 0 0 10px darken($color: $primary-color, $amount: 100%);
          z-index: 3;
          opacity: 0;
          animation: frame 0.8s 0.5s forwards;
        }
        .border-back {
          position: absolute;
          top: 50%;
          left: 50%;
          inline-size: 320px;
          block-size: 320px;
          border-left: 10px solid $yellow;
          border-right: 10px solid $yellow;
          border-radius: 30px;
          box-shadow: 0 0 10px darken($color: $primary-color, $amount: 100%);
          z-index: 1;
          opacity: 0;
          animation: frame 0.8s 0.5s forwards;
        }
      }
    }

    h2:first-of-type {
      margin: 0;
      opacity: 0;
      font-style: italic;
      color: darken($color: $light-color, $amount: 30%);
      transform: translateX(-7rem);
      animation: clear 0.5s forwards;
    }
    &__name {
      line-height: 1.5;
      font-size: 4rem;
      border: none;
      margin: 0;
      padding: 0;
      opacity: 0;
      transform: translateX(-7rem);
      animation: clear 0.5s forwards;
      &::before {
        font-family: sans-serif;
        content: open-quote;
      }
      &::after {
        content: close-quote;
        font-family: sans-serif;
      }
    }
    h2:last-of-type {
      font-size: 1.5rem;
      line-height: 1.5;
      //   text-align: justify;
      opacity: 0;
      transform: translateX(-7rem);
      animation: clear 0.5s forwards;
      color: darken($color: $light-color, $amount: 30%);
      &::after {
        content: " based in Sudan. I create fascinitaing websites to help people go online.";
      }
    }
  }
}

/* PROJECTS
----------------------------------------*/
// .projects {
//     @include break-point-min(35em) {
//         &__bio-image {
//             // height: 40vh;
//         }
//         &__items {
//             width: 70vw;
//             grid-template-columns: repeat(2, minmax(auto, 25em));
//             grid-gap: 1rem;
//         }
//         &__item:first-of-type {
//             grid-column: span 2;
//         }

//         &__item:nth-child(3) {
//             order: 6;
//             grid-column: span 2;
//         }
//     }

//     @include break-point-min(60em) {
//         &__items {
//             width: 70vw;
//             grid-template-columns: 1fr minmax(auto, 20em) 1fr;
//             grid-gap: 1rem;
//         }
//         &__item:first-of-type {
//             font-size: 1.5em;
//             grid-column: 1/3;
//             grid-row: 1/4;
//             display: flex;
//         }
//         &__item:last-of-type {
//             grid-row: 4;
//             grid-column: 1;
//             display: flex;
//             .projects__btns {
//                 display: flex;
//                 flex-direction: column;
//                 gap: 3rem;
//             }
//         }
//         &__item:nth-child(3) {
//             font-size: 1.5em;
//             grid-row: 4;
//             grid-column: 2/4;
//         }
//     }
// }

/* CONTACT
----------------------------------------*/
// .contact {
//     @include break-point-min(47em) {
//         &__list {
//             width: 80%;
//             margin: 0 auto;
//             grid-template-columns: repeat(2, minmax(0, 1fr));
//         }
//         &__list > * {
//             justify-self: flex-end;
//         }
//         &__email {
//             padding-right: 2.5rem;
//         }
//     }
//     @include break-point-min(70em) {
//         &__list {
//             grid-template-columns: repeat(3, minmax(0, 1fr));
//         }
//         &__list > * {
//             justify-self: unset;
//         }
//         &__email {
//             padding-right: 0;
//         }
//     }
//     @include break-point-max(22.5em) {
//         h2 {
//             font-size: 2rem;
//         }
//         &__list {
//             font-size: 1rem;
//         }
//         .social-icons {
//             font-size: 0.6rem;
//         }
//     }
// }

/* ABOUT
----------------------------------------*/
// @include max-height(40em){
//     .about, .projects {
//         &__bio-image {
//             height: 100vh;
//         }
//     }
//     .contact {
//         h2 {
//             font-size: 1.7rem;
//         }
//         &__list {
//             font-size: initial;
//             width: initial;
//             .contact__phone {
//                 justify-self: end;
//             }
//         }
//         &__list > * {
//             justify-self: initial;
//         }
//         .social-icons {
//             position: fixed;
//         }
//     }
// }
@include slide;
@include frame;
