@import "config";
@import "home";
@import "menu";
@import "about";
@import "projects";
@import "contact";
@import "project-details";
@import "responsive";

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  line-height: 1;
  font-family: "Baloo Tammudu 2", cursive, sans-serif;
}
h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}
.text-secondary {
  color: $secondary-color;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  inline-size: 80px;
  block-size: 80px;
  animation: animate 1s linear infinite;
  &__item {
    position: absolute;
    inline-size: 40px;
    block-size: 40px;
    background: #f00;
    box-shadow: 2px 2px 5px 1px #000;
    animation: rotate 1s linear infinite;
    &--1 {
      top: 0;
      left: 0;
      background: $red;
    }
    &--2 {
      top: 0;
      right: 0;
      background: $blue;
    }
    &--3 {
      bottom: 0;
      left: 0;
      background: $cian;
    }
    &--4 {
      bottom: 0;
      right: 0;
      background: $green;
    }
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  // padding: 1rem;
}

.flip-box { // <main />
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  perspective: 1000px; // 3D effect
  &__inner {
    position: relative;
    inline-size: 100%;
    block-size: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
}
.flip-horizonal {
  transform: rotateY(180deg);
}

main.navigation {
  overflow: hidden;
  .home,
  .contact,
  .about,
  .projects {
    @include transition-ease;
    transform: translateX(65%) scale(0.85);
    opacity: 0.5;
  }
}

.social-icons {
  position: fixed;
  left: 0;
  bottom: 0.2rem;

  > a {
    padding: 0.4rem;
    font-size: 1.5rem;
    @include transition-ease;

    &:hover {
      color: $secondary-color;
    }
  }
}

footer {
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  font-size: 1rem;
  color: set-text-color($primary-color);
}
.d-none {
  display: none;
}

@include animate;
@include rotate;

