@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Oswald&display=swap");
/* GENERAL STYLE
------------------------------ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* hack to make animation paused til the all contents of the page is loaded.
** Inspired by Donovan Hutchinson. https://css-tricks.com/making-animations-wait/
*/
.js-loading *,
.js-loading *::before,
.js-loading *::after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

/* HOME SECTION 
-----------------------------*/
.home {
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
  height: 100%;
  -webkit-padding-before: 35vh;
          padding-block-start: 35vh;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(-45deg, rgba(255, 201, 7, 0.8), rgba(22, 141, 226, 0.8));
  background-size: 200% 200%;
  -webkit-animation: flow-diognal 4s ease-in-out infinite;
          animation: flow-diognal 4s ease-in-out infinite;
}

.home h2:first-of-type {
  font-size: 1em;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.home h2:last-of-type {
  font-size: 1.2em;
}

.home__name {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}

.home__name--last {
  color: #168de2;
  font-weight: 700;
}

.home .btn {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  -webkit-margin-before: 7rem;
          margin-block-start: 7rem;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: #272727;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateY(-100%) scale(1.2);
          transform: translateY(-100%) scale(1.2);
  -webkit-animation: clear 0.5s 1s forwards;
          animation: clear 0.5s 1s forwards;
}

.home .btn:link {
  background: #d3a500;
}

.home .btn:hover {
  background: #ffc907;
}

.home .social-icons {
  display: none;
  bottom: 1rem;
}

@-webkit-keyframes flow-diognal {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes flow-diognal {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  position: absolute;
  top: 4vmin;
  left: 1rem;
  inline-size: 3.5vw;
}

.logo img {
  inline-size: 100%;
}

/* THE NAVIGATION MENU
-----------------------------------------*/
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle at 13.5% 0, transparent 36px, #d3a500 37px);
  -webkit-transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) 0.45s;
  transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) 0.45s;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  inline-size: 80%;
  height: 50px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  list-style-type: none;
  -webkit-filter: drop-shadow(0px -1px 6px rgba(0, 0, 0, 0.08)) drop-shadow(0px -2px 12px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px -1px 6px rgba(0, 0, 0, 0.08)) drop-shadow(0px -2px 12px rgba(0, 0, 0, 0.12));
}

.nav .menu-nav__item {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.active.sc-current > a {
  color: white;
}

.nav .menu-nav__link {
  color: #272727;
  display: block;
}

.nav .menu-nav__link span {
  display: none;
}

.nav .menu-nav__link i {
  display: inherit;
}

.nav .menu-nav__link i:active {
  -webkit-transform: rotate(-420deg);
          transform: rotate(-420deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .sc-nav-indicator {
  position: absolute;
  width: 56px;
  height: 56px;
  bottom: 1.4rem;
  left: 0;
  background-color: black;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  -webkit-transition: cubic-bezier(0.45, 0.73, 0, 0.59) 0.3s;
  transition: cubic-bezier(0.45, 0.73, 0, 0.59) 0.3s;
}

.nav .sc-current {
  position: relative;
  z-index: 3;
  -webkit-transform: translate3d(0px, -22px, 0px);
          transform: translate3d(0px, -22px, 0px);
}

/* ABOUT SECTION 
--------------------------------*/
.about {
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
  padding-bottom: 15vh;
}

.about__bio-image {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(22, 141, 226, 0.4))), url(../img/fola-bio.jpeg) no-repeat top 15% center/cover;
  background: linear-gradient(to right rgba(39, 39, 39, 0), rgba(22, 141, 226, 0.4)), url(../img/fola-bio.jpeg) no-repeat top 15% center/cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about__bio-image .about__bio {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  max-inline-size: 100vmin;
  inline-size: 80%;
  height: 70%;
}

.about__bio-image .about__bio .text-secondary {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #ffc907;
  font-size: 5vmin;
  font-weight: 900;
  opacity: 0;
  -webkit-transform: translateX(-7rem);
          transform: translateX(-7rem);
  -webkit-animation: clear 1s forwards;
          animation: clear 1s forwards;
}

.about__bio-image .about__bio p, .about__bio-image .about__bio main .article__technical ul li, main .article__technical ul .about__bio-image .about__bio li {
  font-size: 2vh;
  font-weight: 700;
  line-height: 2;
  text-align: justify;
  text-align-last: center;
  opacity: 0;
  -webkit-transform: translateX(7rem);
          transform: translateX(7rem);
  -webkit-animation: clear 1s 0.5s forwards;
          animation: clear 1s 0.5s forwards;
}

.about__bio-image .about__bio .header-cue {
  align-self: flex-end;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
  text-align: center;
}

.about__bio-image .about__bio .header-cue__icon {
  font-size: 5vmin;
  color: #a07d00;
  opacity: 0;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-animation: clear 0.5s 1.8s forwards, bounce 1.5s 2.5s infinite;
          animation: clear 0.5s 1.8s forwards, bounce 1.5s 2.5s infinite;
}

.about__bio-image .about__bio .header-cue__cap {
  opacity: 0;
  font-size: 100%;
  font-style: oblique;
  color: #272727;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  -webkit-animation: clear 0.5s 2s forwards;
          animation: clear 0.5s 2s forwards;
}

.about .jobs {
  inline-size: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem auto 0;
}

.about .jobs__job {
  background: #414141;
  border-bottom: 5px solid #168de2;
  padding: 0.5rem;
  text-align: justify;
}

.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
  font-size: 4vmin;
}

.about .jobs__job h3 {
  color: #cccccc;
}

.about .jobs__job h6 {
  margin: 0.3rem 0;
  font-size: 100%;
}

.about .jobs__job p, .about .jobs__job main .article__technical ul li, main .article__technical ul .about .jobs__job li {
  line-height: 1.2;
  font-size: 100%;
}

.about .social-icons {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about footer {
  display: none;
}

@-webkit-keyframes clear {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes clear {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes bounce {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

/* PROJECT SECTION 
--------------------------------*/
.projects {
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
  -webkit-padding-after: 15vh;
          padding-block-end: 15vh;
  display: -ms-grid;
  display: grid;
}

.projects__header {
  position: relative;
  max-inline-size: 100%;
  inline-size: 80%;
  margin: 15vw auto 0;
  block-size: 20vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__header .text-secondary {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 1rem);
          flex: 0 0 calc(33% - 1rem);
  font-size: 2rem;
  color: white;
  opacity: 0;
  -webkit-transform: translateX(-7rem);
          transform: translateX(-7rem);
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  -webkit-animation: clear 2s forwards;
          animation: clear 2s forwards;
}

.projects__header p, .projects__header main .article__technical ul li, main .article__technical ul .projects__header li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 1rem);
          flex: 0 0 calc(33% - 1rem);
  text-align: justify;
  line-height: 1.5;
  opacity: 0;
  -webkit-transform: translateY(-1rem) scale(1.2);
          transform: translateY(-1rem) scale(1.2);
  color: #8d8d8d;
  -webkit-animation: clear 0.5s 1s forwards;
          animation: clear 0.5s 1s forwards;
}

.projects__items {
  inline-size: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(calc(min(12rem, 100%)), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(calc(min(12rem, 100%)), 1fr));
  gap: 2rem;
  margin: 2rem auto 0;
}

.projects__item {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(39, 39, 39, 0.5)), color-stop(25%, rgba(39, 39, 39, 0))), -webkit-gradient(linear, right top, left top, color-stop(5%, rgba(39, 39, 39, 0.5)), color-stop(20%, rgba(39, 39, 39, 0)));
  background: linear-gradient(90deg, rgba(39, 39, 39, 0.5) 5%, rgba(39, 39, 39, 0) 25%), linear-gradient(270deg, rgba(39, 39, 39, 0.5) 5%, rgba(39, 39, 39, 0) 20%);
  -webkit-box-shadow: 10px 5px #2f2f2f;
          box-shadow: 10px 5px #2f2f2f;
  overflow: hidden;
  cursor: pointer;
}

.projects__item__header {
  position: relative;
  z-index: 1;
  inline-size: 100%;
  block-size: 20px;
  -webkit-padding-start: 0.8rem;
          padding-inline-start: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
  background: #e6e6e6;
}

.projects__item__header span {
  inline-size: 12px;
  block-size: 12px;
  border-radius: 50%;
}

.projects__item__header span:last-child {
  inline-size: auto;
  font-family: "Kirang Haerang", cursive;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  margin-left: calc(20% - 20px);
  color: #747474;
}

.projects__item__header--red {
  background: rgba(255, 0, 0, 0.7);
}

.projects__item__header--yellow {
  background: rgba(255, 201, 7, 0.8);
}

.projects__item__header--green {
  background: rgba(0, 255, 0, 0.8);
}

.projects__item img {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  z-index: -1;
}

.projects__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.9)));
  background: linear-gradient(to bottom rgba(39, 39, 39, 0), rgba(39, 39, 39, 0.9));
  background-size: cover;
  background-position: 100% 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.projects__item:hover::before {
  bottom: 0;
}

.projects__item:hover .projects__btn {
  -webkit-transform: translate(-50%, 50%) scaleY(1);
          transform: translate(-50%, 50%) scaleY(1);
}

.projects__btn {
  display: inline-block;
  font-family: "Kirang Haerang", cursive;
  padding: 10px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  text-transform: uppercase;
  background: #747474;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px #5a5a5a;
          box-shadow: 2px 2px #5a5a5a;
  -webkit-transform: translate(-50%, 50%) scaleY(0);
          transform: translate(-50%, 50%) scaleY(0);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transition: all 0.5s 0.3s ease-in;
  transition: all 0.5s 0.3s ease-in;
}

.projects__btn > a {
  color: #b3b3b3;
}

.projects__btn > a:hover {
  color: white;
  text-decoration: underline;
}

.projects .social-icons {
  display: none;
}

.projects footer {
  display: none;
}

@keyframes clear {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes radiant {
  0% {
    -webkit-box-shadow: 0px 0px 1px white, 0px 0px 1px white;
            box-shadow: 0px 0px 1px white, 0px 0px 1px white;
  }
  50% {
    -webkit-box-shadow: 1px 1px 3px 1px white, -1px -1px 3px 1px white;
            box-shadow: 1px 1px 3px 1px white, -1px -1px 3px 1px white;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px white, 0px 0px 1px white;
            box-shadow: 0px 0px 1px white, 0px 0px 1px white;
  }
}

@keyframes radiant {
  0% {
    -webkit-box-shadow: 0px 0px 1px white, 0px 0px 1px white;
            box-shadow: 0px 0px 1px white, 0px 0px 1px white;
  }
  50% {
    -webkit-box-shadow: 1px 1px 3px 1px white, -1px -1px 3px 1px white;
            box-shadow: 1px 1px 3px 1px white, -1px -1px 3px 1px white;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px white, 0px 0px 1px white;
            box-shadow: 0px 0px 1px white, 0px 0px 1px white;
  }
}

/* HOME SECTION 
-----------------------------*/
.contact {
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
  block-size: 100%;
  -webkit-padding-before: 35vh;
          padding-block-start: 35vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 141, 226, 0.8)), to(rgba(255, 201, 7, 0.8)));
  background: linear-gradient(180deg, rgba(22, 141, 226, 0.8), rgba(255, 201, 7, 0.8));
  background-size: 200% 200%;
  -webkit-animation: flow-vertical 5s ease-in-out infinite;
          animation: flow-vertical 5s ease-in-out infinite;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 5%;
}

.contact__list {
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 1.2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact__list address > div {
  color: #ffd43a;
}

.contact__list a {
  display: inline-block;
  inline-size: 75%;
  outline: none;
}

.contact__list a:link {
  color: #56afef;
  border-bottom: 1px solid;
}

.contact__list a:visited {
  color: #ffc907;
}

.contact__list a:focus {
  border-bottom: 1px solid;
}

.contact__list a:hover {
  color: #a07d00;
  border-bottom: none;
}

.contact__list a:active {
  color: #ffc907;
}

.contact .social-icons {
  position: initial;
  margin-top: 10%;
}

.contact footer {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 10%;
  color: silver;
}

@-webkit-keyframes flow-vertical {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes flow-vertical {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.center-utility, main .article {
  max-inline-size: 700px;
  inline-size: 85%;
  margin: 0 auto;
}

.menu {
  position: relative !important;
  padding: 0;
  width: 100%;
  height: 10%;
}

.menu__crumbs {
  padding: 5px;
  position: fixed;
  right: 2%;
  top: 5%;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__crumbs:hover {
  gap: 5px;
}

.menu__crumbs span {
  inline-size: 7px;
  block-size: 7px;
  background: white;
}

main .article__header {
  font-family: "Oswald", sans-serif;
  margin-block: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .article__header h1 {
  font-size: 8vmin;
  font-weight: 900;
  color: #d9d9d9;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 1rem);
          flex: 0 0 calc(33% - 1rem);
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

main .article__header p, main .article__header .article__technical ul li, main .article__technical ul .article__header li {
  font-size: 3.5vmin;
  color: #8d8d8d;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 1rem);
          flex: 0 0 calc(33% - 1rem);
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

main .article__header a {
  cursor: pointer;
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  padding: 10px 5vmin 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 1rem);
          flex: 0 0 calc(33% - 1rem);
  background: linear-gradient(-45deg, rgba(0, 255, 0, 0.5), rgba(255, 201, 7, 0.8));
  -webkit-animation: flow-diognal 3s ease-in-out infinite;
          animation: flow-diognal 3s ease-in-out infinite;
}

main .article__header a:link {
  background-size: 200% 200%;
}

main .article__header a:hover {
  opacity: 0.8;
}

main .article__body .slideshow {
  block-size: 60vmin;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

main .article__body .slideshow__slide {
  height: 100%;
  display: none;
}

main .article__body .slideshow__slide img {
  position: relative;
  z-index: -1;
  height: 100%;
  inline-size: 100%;
}

main .article__body .slideshow__slide--fade {
  -webkit-animation: fade 1.5s ease-in-out;
          animation: fade 1.5s ease-in-out;
}

main .article__body .slideshow .prev,
main .article__body .slideshow .next {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 100%;
  padding-inline: 10%;
  font-size: 5vmin;
  border-radius: 0 90% 90% 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .article__body .slideshow .prev span,
main .article__body .slideshow .next span {
  position: absolute;
  top: 50%;
}

main .article__body .slideshow .prev:hover,
main .article__body .slideshow .next:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.5)), to(rgba(255, 201, 7, 0.2)));
  background: linear-gradient(rgba(39, 39, 39, 0.5), rgba(255, 201, 7, 0.2));
}

main .article__body .slideshow .prev:hover span,
main .article__body .slideshow .next:hover span {
  color: #ffc907;
}

main .article__body .slideshow .next {
  right: 0;
  border-radius: 90% 0 0 90%;
}

main .article__body .slideshow .next span {
  position: absolute;
  top: 50%;
}

main .article__body .indicators {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  text-align: center;
}

main .article__body .indicators .dot {
  display: inline-block;
  inline-size: 0.8rem;
  block-size: 0.8rem;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 50%;
  background: #a7a7a7;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .article__body .indicators .dot:hover, main .article__body .indicators .dot.active {
  background: #e6e6e6;
}

main .article__about, main .article__technical, main .article__footer {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem;
}

main .article__about h2, main .article__technical h2, main .article__footer h2 {
  font-size: 6.5vmin;
  font-weight: 600;
  color: #d9d9d9;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  position: relative;
}

main .article__about h2::after, main .article__technical h2::after, main .article__footer h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  inline-size: 30%;
  block-size: 1px;
  background: #d3a500;
}

main .article__about p, main .article__technical p, main .article__footer p, main .article__technical ul li {
  font-size: 3.5vmin;
  line-height: 1.3;
  color: #8d8d8d;
}

main .article__technical ul {
  -webkit-margin-start: 1.5rem;
          margin-inline-start: 1.5rem;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  list-style: circle;
}

main .article__footer {
  font-family: "Oswald", sans-serif;
  -webkit-padding-after: 1.5rem;
          padding-block-end: 1.5rem;
  position: initial;
  text-align: center;
}

main .article__footer h4 {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
  font-size: 4vmin;
}

main .article__footer p, main .article__footer .article__technical ul li, main .article__technical ul .article__footer li {
  font-size: 3vmin;
}

main .article__footer a {
  color: #a07d00;
}

main .article__footer a:link {
  text-decoration: underline;
}

main .article__footer a:hover {
  text-decoration: none;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 45em) {
  header {
    position: absolute !important;
    overflow-x: hidden;
    padding: 0 !important;
  }
  .menu-btn {
    display: none;
  }
  .logo {
    inline-size: 1.2rem;
    top: 5vmin;
  }
  /* NAV
  ----------------------------------------*/
  .nav {
    font-family: "Oswald", sans-serif;
    overflow: hidden;
    position: static;
    background: transparent;
    visibility: visible;
  }
  .nav .sc-nav-indicator {
    display: none;
  }
  .nav .menu-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: auto;
    inline-size: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 1em;
    padding-top: 3rem;
    text-align: right;
    background: transparent;
  }
  .nav .menu-nav__item {
    display: inline;
    border: none;
    padding-right: 2rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav .menu-nav__item.active.sc-current > a {
    color: #8d8d8d;
  }
  .nav .menu-nav__link {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    margin: 0;
    -webkit-padding-after: 0.8rem;
            padding-block-end: 0.8rem;
  }
  .nav .menu-nav__link span {
    display: initial;
  }
  .nav .menu-nav__link i {
    display: none;
  }
  .nav .menu-nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1em;
    border-top-right-radius: 50%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0;
            transform-origin: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-nav__link:hover {
    color: white;
  }
  .nav .menu-nav__link:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    background: #168de2;
  }
  /* HOME
----------------------------------------*/
  .home {
    text-align: left;
    background: #272727;
    overflow: hidden;
  }
  .home__wrapper {
    width: 90%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(calc(min(10rem, 100%)), 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(calc(min(10rem, 100%)), 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .home__wrapper .left {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    height: 100%;
  }
  .home__wrapper .left h2:first-of-type {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 0.8rem;
  }
  .home__wrapper .left .home__name {
    font-size: 2.5rem;
    line-height: 1;
  }
  .home__wrapper .left h2:last-of-type {
    font-size: 1.3rem;
  }
  .home__wrapper .left .btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    inline-size: 50%;
    block-size: 0;
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 1.7rem;
    text-align: center;
  }
  .home__wrapper .left .btn:link {
    background: #d3a500;
  }
  .home__wrapper .left .btn:hover {
    background: #ffc907;
  }
  .home__wrapper .right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__wrapper .right .img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    block-size: 250px;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background: url(../img/fola-home.jpeg) no-repeat center top/cover;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
    z-index: 2;
    -webkit-animation: clear 0.8s 0.5s forwards;
            animation: clear 0.8s 0.5s forwards;
  }
  .home__wrapper .right .border-front {
    position: absolute;
    top: 50%;
    left: 50%;
    inline-size: 250px;
    block-size: 250px;
    border-top: 10px solid #168de2;
    border-bottom: 10px solid #168de2;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
    z-index: 3;
    opacity: 0;
    -webkit-animation: frame 0.8s 0.5s forwards;
            animation: frame 0.8s 0.5s forwards;
  }
  .home__wrapper .right .border-back {
    position: absolute;
    top: 50%;
    left: 50%;
    inline-size: 250px;
    block-size: 250px;
    border-left: 10px solid #ffc907;
    border-right: 10px solid #ffc907;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
    z-index: 1;
    opacity: 0;
    -webkit-animation: frame 0.8s 0.5s forwards;
            animation: frame 0.8s 0.5s forwards;
  }
  .home h2:first-of-type {
    margin: 0;
    opacity: 0;
    font-style: italic;
    color: #b3b3b3;
    -webkit-transform: translateX(-7rem);
            transform: translateX(-7rem);
    -webkit-animation: clear 0.5s forwards;
            animation: clear 0.5s forwards;
  }
  .home__name {
    line-height: 1.5;
    font-size: 4rem;
    border: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transform: translateX(-7rem);
            transform: translateX(-7rem);
    -webkit-animation: clear 0.5s forwards;
            animation: clear 0.5s forwards;
  }
  .home__name::before {
    font-family: sans-serif;
    content: open-quote;
  }
  .home__name::after {
    content: close-quote;
    font-family: sans-serif;
  }
  .home h2:last-of-type {
    font-size: 1.5rem;
    line-height: 1.5;
    opacity: 0;
    -webkit-transform: translateX(-7rem);
            transform: translateX(-7rem);
    -webkit-animation: clear 0.5s forwards;
            animation: clear 0.5s forwards;
    color: #b3b3b3;
  }
  .home h2:last-of-type::after {
    content: " based in Sudan. I create fascinitaing websites to help people go online.";
  }
  /* ABOUT
----------------------------------------*/
  .about .about__bio p, .about .about__bio main .article__technical ul li, main .article__technical ul .about .about__bio li {
    font-size: 2.5vh;
  }
}

@-webkit-keyframes slide {
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes slide {
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes frame {
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes frame {
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

body {
  background: #272727;
  color: white;
  height: 100vh;
  line-height: 1;
  font-family: "Baloo Tammudu 2", cursive, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

.text-secondary {
  color: #168de2;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 1rem;
}

.flip-box {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-box__inner {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-horizonal {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main.navigation {
  overflow: hidden;
}

main.navigation .home,
main.navigation .contact,
main.navigation .about,
main.navigation .projects {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(65%) scale(0.85);
          transform: translateX(65%) scale(0.85);
  opacity: 0.5;
}

.social-icons {
  position: fixed;
  left: 0;
  bottom: 0.2rem;
}

.social-icons > a {
  padding: 0.4rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons > a:hover {
  color: #168de2;
}

footer {
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

.d-none {
  display: none;
}
