@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
/* GENERAL STYLE
------------------------------ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* hack to make animation paused til the all contents of the page is loaded.
** Inspired by Donovan Hutchinson. https://css-tricks.com/making-animations-wait/
*/
.js-loading *,
.js-loading *::before,
.js-loading *::after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

/* HOME SECTION 
-----------------------------*/
.home {
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(150deg, rgba(255, 201, 7, 0.3), rgba(22, 141, 226, 0.4)), url(../img/fola.webp) no-repeat center top/cover;
}

.home > h2:first-child {
  font-size: 1em;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.home > h2:last-of-type {
  font-size: 1.2em;
}

.home__name {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}

.home__name--last {
  color: #168DE2;
  font-weight: 700;
}

.home .social-icons {
  bottom: 1rem;
}

/* MENU BUTTON
----------------------------------- */
.menu-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  block-size: 20px;
  inline-size: 28px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  left: 0;
  top: 0.5rem;
  inline-size: 28px;
  block-size: 3px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  position: inherit;
  content: "";
  top: -8px;
  inline-size: inherit;
  block-size: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  position: inherit;
  content: "";
  top: 8px;
  inline-size: 20px;
  block-size: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  background: transparent;
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  inline-size: inherit;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.logo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  block-size: 20px;
  inline-size: 28px;
}

.logo img {
  inline-size: 100%;
}

/* THE NAVIGATION MENU
-----------------------------------------*/
.nav {
  visibility: hidden;
  opacity: 0.9;
  inline-size: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  block-size: 100vh;
  inline-size: 60vw;
  list-style-type: none;
  background: #272727;
  text-transform: uppercase;
  color: white;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item {
  display: inline-block;
  inline-size: 100%;
  border-bottom: 1px solid;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #168DE2;
}

.nav .menu-nav__item:first-child {
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
}

.nav .menu-nav__link {
  display: inline-block;
  margin: 2rem 0 2rem 3rem;
  font-size: 1.3rem;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #168DE2;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

/* ABOUT SECTION 
--------------------------------*/
.about {
  padding-bottom: 2rem;
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
}

.about__bio-image {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(22, 141, 226, 0.1))), url(../img/fola.webp) center center/cover;
  background: linear-gradient(to right rgba(39, 39, 39, 0.9), rgba(22, 141, 226, 0.1)), url(../img/fola.webp) center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about__bio-image .about__bio {
  inline-size: 80%;
  text-align: center;
}

.about__bio-image .about__bio .text-secondary {
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
  opacity: 0;
  -webkit-transform: translateX(-7rem);
          transform: translateX(-7rem);
  -webkit-animation: clear 1s forwards;
          animation: clear 1s forwards;
}

.about__bio-image .about__bio p {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  text-align: justify;
  text-align-last: center;
  opacity: 0;
  -webkit-transform: translateX(7rem);
          transform: translateX(7rem);
  -webkit-animation: clear 1s 0.5s forwards;
          animation: clear 1s 0.5s forwards;
}

.about__bio-image .header-cue {
  padding-inline: 0.5rem;
  padding-block: 0.5rem 0;
  background: #272727;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  overflow: hidden;
  -webkit-animation: clear 0.5s 1.5s forwards;
          animation: clear 0.5s 1.5s forwards;
}

.about__bio-image .header-cue-icon {
  opacity: 0;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-animation: clear 0.5s 1.8s forwards, pulse 1.5s 2.5s infinite;
          animation: clear 0.5s 1.8s forwards, pulse 1.5s 2.5s infinite;
}

.about .jobs {
  width: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem auto 0;
}

.about .jobs__job {
  background: #414141;
  border-bottom: 5px solid #168DE2;
  padding: 0.5rem;
}

.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
}

.about .jobs__job h6 {
  margin: 0.3rem 0;
}

.about .jobs__job p {
  font-size: 0.9rem;
}

.about .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

@-webkit-keyframes clear {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes clear {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* PROJECT SECTION 
--------------------------------*/
.projects {
  padding-bottom: 2rem;
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
}

.projects__bio-image {
  position: relative;
  inline-size: 100%;
  block-size: 30vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0% 0% 90% 90%;
}

.projects__bio-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/folaa.jpg) center center/cover;
  -webkit-transform: translateY(300px) scale(1.2);
          transform: translateY(300px) scale(1.2);
  opacity: 0;
  -webkit-animation: clear 1.5s forwards;
          animation: clear 1.5s forwards;
}

.projects__bio-image .text-secondary {
  position: relative;
  font-size: 2rem;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateX(-7rem);
          transform: translateX(-7rem);
  -webkit-animation: clear 2s forwards;
          animation: clear 2s forwards;
}

.projects__items {
  inline-size: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  /* Recomended for future
              grid-template-columns: repeat(auto-fit, minmax(calc(min(10rem, 100%)), 1fr));
            */
  grid-gap: 2rem;
  margin: 2rem auto 0;
}

.projects__item {
  position: relative;
  border-bottom: 5px solid #168DE2;
  overflow: hidden;
  cursor: pointer;
}

.projects__item img {
  inline-size: 100%;
}

.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
  background: #168DE2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}

.projects__item:hover .projects__btn {
  opacity: 1;
}

.projects__btns {
  position: absolute;
  top: 0;
  z-index: 1;
  inline-size: 100%;
  block-size: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.projects__btn {
  opacity: 0;
  color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__btn:hover {
  color: white;
}

.projects .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

@keyframes clear {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes radiant {
  0% {
    -webkit-box-shadow: 0 1px 1px #168DE2;
            box-shadow: 0 1px 1px #168DE2;
  }
  50% {
    -webkit-box-shadow: 0 3px 3px #168DE2;
            box-shadow: 0 3px 3px #168DE2;
  }
  100% {
    -webkit-box-shadow: 0 1px 1px #168DE2;
            box-shadow: 0 1px 1px #168DE2;
  }
}

@keyframes radiant {
  0% {
    -webkit-box-shadow: 0 1px 1px #168DE2;
            box-shadow: 0 1px 1px #168DE2;
  }
  50% {
    -webkit-box-shadow: 0 3px 3px #168DE2;
            box-shadow: 0 3px 3px #168DE2;
  }
  100% {
    -webkit-box-shadow: 0 1px 1px #168DE2;
            box-shadow: 0 1px 1px #168DE2;
  }
}

/* HOME SECTION 
-----------------------------*/
.contact {
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(150deg, rgba(255, 201, 7, 0.3), rgba(22, 141, 226, 0.4)), url(../img/fola.webp) no-repeat center top/cover;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 5%;
}

.contact__list {
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 1.2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact__list address > div {
  color: #FFC907;
}

.contact__list a {
  display: inline-block;
  inline-size: 75%;
  outline: none;
}

.contact__list a:link {
  color: #FFC907;
}

.contact__list a:visited {
  color: #168DE2;
}

.contact__list a:focus {
  border-bottom: 1px solid;
}

.contact__list a:hover {
  background: #6d5500;
  border-bottom: 1px solid;
}

.contact__list a:active {
  color: #168DE2;
}

.contact .social-icons {
  position: initial;
  margin-top: 10%;
}

/* NAV
----------------------------------------*/
/* PROJECTS
----------------------------------------*/
/* CONTACT
----------------------------------------*/
/* HOME
----------------------------------------*/
/* ABOUT
----------------------------------------*/
body {
  background: #272727;
  color: white;
  height: 100vh;
  line-height: 1;
  font-family: 'Baloo Tammudu 2', cursive, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

.text-secondary {
  color: #168DE2;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main.navigation {
  overflow: hidden;
}

main.navigation .home, main.navigation .contact, main.navigation .about, main.navigation .projects {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(65%) scale(0.85);
          transform: translateX(65%) scale(0.85);
  opacity: 0.5;
}

.social-icons {
  position: fixed;
  left: 0;
  bottom: 0.2rem;
}

.social-icons > a {
  padding: 0.4rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons > a:hover {
  color: #168DE2;
}

footer {
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

.d-none {
  display: none;
}
